<%= form_for @quiz, :html => { :class => "form-horizontal quiz" } do |f| %>

    <% if @quiz.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @quiz.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :question, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :question, :class => 'form-control' %>
    </div>
    <%#= error_span(@quiz[:question]) %>
  </div>
  <div class="control-group">
    <%= f.label :answer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :answer, :class => 'form-control' %>
    </div>
    <%#= error_span(@quiz[:answer]) %>
  </div>
  <div class="control-group">
    <%= f.label :etc, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :etc, :class => 'form-control' %>
    </div>
    <%#= error_span(@quiz[:etc]) %>
  </div>
  <div class="control-group">
    <%= f.label :tag_list, :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag 'quiz[tag_list]', @quiz.tag_list.join(','), data: {role: "tagsinput"}  %>
    </div>
    <p class="most_used_tags">
    よく使われているタグ：
    <% ActsAsTaggableOn::Tag.most_used(20).each do |t| %>
      <span class="tag label label-info"><%= t.name %></span>
    <% end %>
    </p>
    <%#= error_span(@quiz[:tag_list]) %>
  </div>
  <div class="control-group">
    <%= f.label :public, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :public, :class => 'form-control bs_btn' %>
    </div>
    <%#= error_span(@quiz[:public]) %>
  </div>

  <p class="quiz_actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            quizzes_path, :class => 'btn btn-default' %>
  </p>
<% end %>
