<!DOCTYPE html>
<html>
<head>
  <title>Studyapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar fixed: :top, brand: "QuizApp", responsive: true do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_divider %>
        <%= drop_down "Quiz" do %>
            <%= menu_item "Quiz List", quizzes_path %>
        <% end %>
        <%= menu_item "About Us", 'google.com' %>
        <% if user_signed_in? %>
          <%= menu_item "Sign out", destroy_user_session_path %>
        <% else %>
          <%= menu_item "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
        <% end %>
    <% end %>
    <%= menu_group pull: :right do %>
    <% end %>
<% end %>

<div class="container">
  <%= content_tag :p, notice, class: :notice if notice %>
  <%= content_tag :p, alert, class: :alert if alert %>
  <div class="row">
    <%= yield %>
  </div>
</div>

</body>
</html>
