<!DOCTYPE html>
<html>
<head>
  <title>Studyapp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"></head>
<body>
<%= nav_bar fixed: :top, brand: "StudyApp", responsive: true do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_item "About", about_path %>
        <% if user_signed_in? %>
          <%= drop_down "Quiz" do %>
            <%= menu_item "Quiz List", quizzes_path %>
            <%= menu_item "Toggle Answer", 'javascript:void(0);', class: :toggle_answer %>
          <% end %>
          <%= drop_down "Challenge" do %>
            <%= menu_item "Setup", challenge_results_setup_path %>
            <%= menu_item "Challenge Results", challenge_results_path %>
          <% end %>
          <%= drop_down "User" do %>
            <%= menu_item "Show User", show_user_path %>
            <%= menu_item "Sign out", destroy_user_session_path %>
          <% end %>
        <% else %>
          <%= menu_item "Sign in with Twitter", user_twitter_omniauth_authorize_path %>
        <% end %>
    <% end %>
    <%= menu_group pull: :right do %>
    <% end %>
<% end %>

<div class="container main">
  <% flash.each do |key, value| %>
  <% type = case key
       when "notice" then "success"
       when "danger" then "alert"
       else "info"
       end %>
  <div class="alert alert-dismissible alert-<%= type %>">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= value %>
  </div>
  <%#= content_tag(:div, value, class: "#{key}") %>
  <% end %>
  <div>
    <%= yield %>
  </div>
</div>
</body>
</html>
